<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="/">SmartEvol</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <a class="nav-link" href="#"><i class="bi bi-search"></i></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="#" id="bell"><i class="bi bi-bell-fill"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Juan Tombe
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Perfil</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Configuracion</a></li>
              <li><a class="dropdown-item" href="/login"><i class="fa-solid fa-arrow-right-from-bracket"></i> Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>